body{
    background-color: #fbfbff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #ede6e3;
    box-shadow:0px 10px 10px rgba(55,25,25,0.2) ;
   max-height: 60vh;
   min-height: fit-content;
    width:45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-top: 70px;
    
}

button{
    width:52px;
    height: 50px;
    border-radius:100%;
    margin:3px;
    border-width: 0px;
    box-shadow:0px 10px 5px rgba(55,25,25,0.1) ;
    background: whitesmoke;

}

button:hover{
    cursor: pointer;
    background-color: #feefdd;
    color: black;
    box-shadow: none;
}

.screen1{
   min-height: 50px;
   max-height: fit-content;
    width: 40vh;
    border-radius:10px;
    background-color:white;
    margin:5px;
    margin-top: 10px;
    text-align: flex-end;
    display: flex;
    justify-content:right;
    align-items: last baseline;
    overflow-x: hidden;
}


.keys{
    margin: 10px;
   min-width:  40vh;
   max-width: fit-content;
    
}
.del{
    width:104px;
    height:40px;
    border-radius:5px;
    color: red;
    font-size: 17px;
}
.cl{
    width:104px;
    height:40px;
    border-radius: 5px;
    margin-left: 20px;
    color: pink;
}